
body {
    padding: 20px;
}

h1, h3 {
    color: green;
    }

a {
    text-decoration: none;
    color: blue;
    transition-duration: 3s;
}

a:hover {
    font-weight: bold;
}

table td, th {
    padding: 20px;
}

span {
    color: green;
}

.small-size-img {
    height: 18px;
    width: 18px;
}

body.about {
    background-color: rgba(255, 255, 100, 0.5);
    
}

